.card-elementos{
    background-color: aquamarine;
    border: solid;
    width: 800px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.card-elementos-body{
    display: flex;
}
h2{
    text-align: center;
}
img{
    width: 150px;
    height: 200px;
    margin: 0px 20px;
}
.card-elementos-body-info{
    width: 600px;
    margin: 0px 20px;
}
.card-elementos-body-info-butons{
    display: flex;
    justify-content: center;
}
button{
    margin: 0px 20px;
    width: 120px;
    height: 30px;
}
