/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-3);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    color: var(--color-4);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
